<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><strong>Welcome to Pakyi No. 2 Digitized Stool Lands</strong></title>
</head>
<body>
    <p>Hello {{username}},</p>
    <p>Welcome to Pakyi No. 2 Digitized Stool Lands web application. We are delighted that you've registered with us and provided your contact details.</p>
    <p>Your account, associated with email <strong>{{email}}</strong>, is now confirmed.</p>
    <p>The phone number <strong>{{phoneNumber}}</strong> is registered with us.Here is your applicantId: <strong>{{staffId}}</strong></p>
    <p>Your account is secure, and you are now part of our community. Feel free to explore our platform and its features.</p>
    <p>Login at <a href="{{frontURL}}">{{frontURL}}</a></p>
</body>
</html>
