<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Pakyi No. 2 Digitized Stool Lands</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>Welcome to Pakyi No. 2 Digitized Stool Lands web application.</p>
    <p>
      You have been invited to the Pakyi's Stool Land WebApp as {{occupation}}.
    </p>
    <p>
      Your account, associated with email <strong>{{email}}</strong> and phone
      number <strong>{{phoneNumber}}</strong>, has been registered with the
      following password: <strong>{{temporaryPassword}}</strong>.
    </p>
    <p>
      Your account is secure, and you are now part of our community. Welcome!
    </p>
    <p>To reset your password, please click <a href="{{frontURL}}">here</a>.</p>
  </body>
</html>
