<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>This email, <strong>{{email}}</strong>, associated with your account, has requested a password reset.</p>
    <p>To reset your password, please click <a href="{{frontURL}}">here</a>.</p>
    <p>If you did not request this password reset, you can safely ignore this email. Your account remains secure.</p>
    <p>Best regards,<br>
    The Administration Team</p>
</body>
</html>
